body{
	padding: 0 !important;
	background: black !important;
}
div{
	color: white;
}
/* menu
*****************************************************************/
#menu{
	background-color:#e7f3ff;
    position: fixed;
	top: 0;
	width: 100vw;
	z-index: 100;
}
#menu div{
	display: flex;
	padding: 0.5vmin 4vmin;
	align-items: center; 
	height:5.5vmin;
}
#menu img{
	height: 85%;
	width: auto;
}
#menu ul {
	list-style-type: none;/*Removes the bullets*/
	margin: 0 !important;
	overflow: hidden;
}
#menu li{
	float: left;
	text-align: center;
}
#menu li a {
	margin:0 1vmin;
	padding: 1vmin;
	display: block;
	height: 100%;
	color: gray;
	font-size: 2.5vmin;
}
#menu li a:hover {
	background-color: #666;
	color: white;
	text-decoration: none;
}
/* content
*****************************************************************/
#content{
	margin-top: 7vmin;
	background: black;
	padding: 3.5vmin;
}

.carousel-inner img {
	width: 100%;
	height: auto;
}

.introdution{
	width: 100%;
	justify-content:center;
	padding: 2vmin;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.gameScreen img{
	width: 100%;
	height: auto;
	padding-top: 1vmin;
}

/* contact
*****************************************************************/

#contact{
	background-color:#3B4A5E;
	color: white;
	padding: 2vmin;
}
#contact img{
	-webkit-filter: invert(100%); /* Safari */
  filter: invert(100%);
}

a div:hover {
  background-color:rgba(179, 221, 255,50);
}

.skills div ul{
	padding: 0;
	list-style-type: none;/*Removes the bullets*/
	margin: 0 2vmin 0 0;
}

.skills div ul li{
	font-size: 2vmin;
}